.notification {
    position: absolute !important;
    height: auto;
    width: 300px;
    right: 15px;
    top: 75px;

    -webkit-animation: cssAnimation 3s forwards; 
    animation: cssAnimation 3s forwards;
}

@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}