.big-space {
    margin-top: 50px;
}

.collapse {
    transition: .3s ease all;
}

.text-black {
    color: #1b1e21;
}

.center {
    position: absolute;
    top: 45%;
    left: 45%;
}

.page-banner {
    margin-bottom: 20px !important;
}

.space {
    margin-left: 30px !important;
}

.navbar-toggler {
    border-color: #ffffff !important;
}

.fas {
    color: #ffffff;
    margin: 5px;
}

.tech-item {
    margin-left: 20px;
    font-size: 22px;
}

.hidden {
    display: none !important;
}