.profilePicture {
    border-radius: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
}

.profilePicture i {
    font-size: 25px;
    padding: 10px 12px;
    background-color: gray;
    border-radius: 100%;
}

.profileItem a {
    color: black i !important;
}